<html>
<body onload="myFunction()">


    <script>
function myFunction() {
    alert("No Mold Activity Data !!!!");
     window.location.href = '@Url.Action("Index", "createRequestSheet")';
}
    </script>
</body>
</html>
